<div id="green">
    <div class="container">
        <div class="row">
				
            <div class="col-lg-12">
                <h3>Anti-drudgery</h3>
                <p>Why spend time thinking up creative commit messages to mask the fact you've kind of been hacking on everything
                    in hopes something would stick? Just curl in a random commit message from us and worry no more!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">p.s., this site is totally serious</div>
</div>