<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link href="/css/site.css" rel="stylesheet"/>
</head>
	<body>
		<h1>About</h1>
		This is my awesome about page.
	
		If you want to contact me, you can email me at <a href="mailto:hyrman@fastmail.net">hyrman@fastmail.net</a>
	</body>
</html>
